<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904312584792-6o06hqo85sqfguhals1i4memmqeokilc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904312584792-6o06hqo85sqfguhals1i4memmqeokilc</string>
	<key>API_KEY</key>
	<string>AIzaSyCWJF2MozZ_Voxq_uOljA9xWqAt4kGpJKI</string>
	<key>GCM_SENDER_ID</key>
	<string>904312584792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterbugs.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>social-network-f63c0</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-f63c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:904312584792:ios:a70fa2344e8e45c1</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-f63c0.firebaseio.com</string>
</dict>
</plist>